body{
	background-color: #2b2b2b;
	background-image: url(image/wood.jpg)
}
.icon{
	text-align: center; 
    margin-top: 40vh; 
    margin-bottom: 5px; 
    color: #cacaca; 
    font-size: 20px ;
 }
